h1 {
  font-size: 3em;
}

h2 {
  text-decoration: underline;
}

article {
  margin-left: 10rem;
  margin-right: 10rem;
}

header {
  background-color: darkolivegreen;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#resumeImage {
  border-radius: 50%;
  border: solid white 3px;
}

aside {
  background-color: #000000;
  margin-right: 100rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  font-size: small;
  color: white;
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  border: 2px solid black;
  border-style: inset;
  padding-left: 1em;
  padding-bottom: 1em;
}
